@media screen and (max-width: 450px){
    .logo{
        margin-left: 15px;
    }
    
    .logo>img:last-child{
        display: block;
    }

    .logo>img:first-child{
        display: none;
    }    
    
    header{
        width: 100%;
        height: 90px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .str-pc{
        display: none;
    }

    .stage-one{
        display: flex;
        justify-content: space-evenly ;
    }

    .str-mob{
        width: 100%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .mob-menu-btn{
        display: block;
        cursor: pointer;
    }

    .stage-two{
        display: none;
        position: absolute;
        width: 80%;
        height: 538px;
        top: 70px;
        left: 10%;
        border-radius: 6px;
        background-color: white;
        padding-left: 0;
        padding-left: 12%;
        z-index: 99999;
    }

    .stage-two>ul{
        height: 400px;
        flex-direction: column;
        align-self: center;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: -100px;
    }

    .button-order-call{
        display: none;
    }

    .close{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .button-order-call-mob{
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 10%;
    }
    
    .stage-two>ul>a, .stage-two>ul>a:first-child{
        margin-left: 0;
        margin-right: 0;
    }


    .bgc-car{
        width: 305px;
        height: 172px;
    }

    .circle-bgc{
        width: 90px;
        height: 90px;
        top: 280px;
        right: 170px;
        z-index: -11;
    }

    .circle-bgc>img{
        width: 90px;
        height: 90px;
    }

    .tools-bar{
        width: 100%;
    }

    .phone-header>p{
        font-size: 16px;
    }

    .social{
        display: none;
    }

    .content{
        height: 350px;
        width: 100%;
        margin-top: 220px;
    }

    .title>p:first-child{
        font-size: 24px;
    }

    .title>p:last-child{
        font-size: 14px;
    }

    .new-group{
        width: 200px;
        height: 49px;
        font-size: 22px;
    }

    .title, .txt, .more{
        margin-left: 0;
        padding-left: 15px;
    }

    .txt{
        width: 100%;
    }

    .content2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title2{
        text-align: center;
    }

    .title2>p{
        font-size: 23px;
    }

    .tools-box{
        width: 100%;
        flex-direction: column;
    }

    .boxes{
        width: 100%;
        height: 180px;
    }

    .tool{
        width: 90%;
        padding-left: 0;
    }

    .tool>p{
        width: 240px;
        font-size: 16px;
    }

    .some-about-bie-drive{
        height: 270px;
        margin-top: -40px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .some-about-bie-drive>p{
        width: 70%;
        font-size: 16px;
        text-align: center;
        align-self: center;
    }

    .some-about-bie-drive>img{
        width: 40px;
        height: 24px;
    }

    .more-about-us-btn{
        width: 80%;
        margin-left: 10%;
    }

    .foot-top, .foot-bottom{
        display: none;
    }

}